{{#if this.siteSettings.riot_enabled}}
  <h3 class="riot-list-item">
    {{#each acct in user.riot_accounts}}
      <div class="riot-list-item">
          {{acct.riot_name}} ({{acct.riot_league}})
      </div>
    {{/each}}
  </h3>
{{/if}}
